{# app/templates/errors/not-found.jinja #}

{% extends "__layout.jinja" %}

{% block title %}
  Not Found
{% endblock title %}

{% block content %}
  <div class="error-wrapper">
    <h1>404 - Not Found</h1>
    <p>No resource was found at this route.</p>
  </div>
{% endblock content %}
