{# app/templates/product/edit.jinja #}

{% extends "_shared/edit.jinja" %}
{% from "_shared/macros.jinja" import field %}

{% set mod_title = "Product" %}
{% set mod_name = "product" %}
{% set show_handler = "get_show_product" %}
{% set update_handler = "post_edit_product" %}
{% set delete_handler = "get_delete_product" %}

{% block form_fields %}
  {% set text_field = "components/fields/text.jinja" %}
  {% set price_field = "components/fields/price.jinja" %}
    
  {% set field = {
    "label": "Name",
    "name": "name"} %}
  {% include text_field %}

  {% if form.description %}
    {% set field = {
      "label": "Description",
      "name": "description"} %}
    {% include text_field %}
  {% endif %}
  
  {% set field = {
    "label": "Unit",
    "name": "unit"} %}
  {% include text_field %}

  {% set field = {"label":"Unit Price", "name":"unit_price"} %}
  {% include price_field %}

{% endblock form_fields %}
