{# app/templates/_shared/delete.jinja #}

{% extends "__layout.jinja" %}

{% block title %}Delete {{ mod_title }}{% endblock title %}

{% block content %}
  <main class="xl delete">
    <a href="{{ url_for(edit_handler, id58=id58) }}" class="back-icon" aria-label="Back">
      ⮨
    </a>
    <a href="{{ url_for('get_home') }}" class="close-icon" aria-label="Close">
      🗙
    </a>
    <h1>Delete {{ mod_title }}s</h1>
    {% block confirm %}{% endblock confirm %}
  </main>
{% endblock content %}