{# app/templates/login.jinja #}

{% extends "__layout.jinja" %}

{% block title %}Log In{% endblock title %}

{% block content %}
  <main class="xl auth">
    <h1>Login</h1>
    <form method="post">
    {% set text_field = "components/fields/text.jinja" %}
    {% set password_field = "components/fields/password.jinja" %}
    
    {% set field = {
      "label": "Username",
      "name": "username"} %}
    {% include text_field %}
    
    {% set field = {
      "label": "Password",
      "name": "password"} %}
    {% include password_field %}

    <div class="button-group">
      <button>Login</button>
    </div>
    </form>
  </main>
{% endblock content %}
