{# app/templates/set-password.jinja #}

{% extends "__layout.jinja" %}

{% block title %}Set Your Password{% endblock title %}

{% block content %}
  <h1>Set Your Password</h1>

  <form method="post">
    <label for="password">New Password</label>
    <input type="password" name="password" required>

    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" required>

    <button type="submit">Set Password</button>
  </form>
{% endblock content %}
