{# app/templates/set-password.jinja #}

{% extends "__layout.jinja" %}

{% block title %}Set Password{% endblock title %}

{% block content %}

  <main class="xl auth">
    <h1>Set Password</h1>
    <form method="post">
    {% set password_field = "components/fields/password.jinja" %}
    
    {% set field = {
      "label": "Password",
      "name": "password"} %}
    {% include password_field %}
    
    {% set field = {
      "label": "Confirm",
      "name": "confirm"} %}
    {% include password_field %}

    <div class="button-group">
      <button>Set Password</button>
    </div>
    </form>
  </main>
{% endblock content %}
